.cards {
  display: flex;
  margin-top: 20px;
  overflow: hidden;

  & > * {
    min-width: 200px;
    flex: 0 1 100%;
  }

  & > * + * {
    margin-left: 20px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  a {
    color: #7d7d7d;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .cards {
    padding-bottom: 20px;
    overflow-x: scroll;
  }
}
