@import '../../../../../styles/variables.module';

.inputs {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  margin: 20px 0;
  width: min-content;
  padding: 30px;
  box-shadow: -1px -2px 20px 5px rgb(0 0 0 / 5%);

  & > * {
    min-width: 300px !important;
  }

  & > * + * {
    margin-left: 20px !important;
  }
}

.button {
  background-color: $secondary !important;
}

.container {
  display: flex;
  margin-top: 0px !important;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  @include paddingStandard;
  text-align: center;
  // border-bottom: 1px solid $gray-50;
  //background: url(../../../../../public/mramor.jpg) no-repeat left center fixed;
  // -webkit-background-size: cover;
  // background-size: cover;

  p {
    color: $gray-200;
  }

  span {
    font-weight: 400;
  }

  .phone {
    color: $main-blue;
  }
}

@media only screen and (max-width: 930px) {
  .inputs {
    width: 100%;
    flex-direction: column;
    padding: 30px 10px;

    & > * {
      width: 100%;
      min-width: 200px !important;
    }

    & > * + * {
      margin: 20px 0 !important;
    }
  }
}
