@import '../../styles/variables.module';

.container {
  margin: 100px;
}

.containerNotFound {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include paddingStandard;

  .notFoundIcon {
    margin-top: 50px;
    font-size: 250pt;
    animation: Orbita 4s linear infinite alternate;
  }
}

.containerNoResults {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include paddingStandard;

  .noResultsIcon {
    margin-top: 50px;
    font-size: 250pt;
    animation: Orbita 4s linear infinite alternate;
  }
}


@keyframes Orbita {
  from { transform: translateX(-150px)}
  to   { transform: translateX(150px)}
}

.nogoods {
  font-size: 22px;
  font-weight: 300;
  color: #7f7f7f;
  text-align: center;
  margin: 50px auto;
}
