.galleryContainer {
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  z-index: 1200;
  padding: 20px;
  // display: flex;
  // flex-direction: column;

  & > div {
    height: 100%;

    & > div {
      height: 100%;
    }
  }

  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #1f1f1f;
    color: #f9f9fd;
    z-index: 3;
  }

  .active {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    & > * {
      position: initial !important;
    }

    img {
      max-height: 95vh;

      &:hover {
        cursor: zoom-in;
      }
    }

    .verticalContainerPlayer {
      height: 100% !important;
      width: 100% !important;
      padding: 20px;
      position: relative;
    }

    .verticalPlayer {
      width: inherit !important;
      height: inherit !important;
    }
  }
}
