@import '../../styles/variables.module';

.aComonent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.root {
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    padding-bottom: 80%;
  }

  .img {
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    width: 120%;
    height: 100%;
    object-fit: cover;
    border: 0;
    object-position: 0 90%;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

.content {
  flex-grow: 1;
  padding: 5px 2px;
  justify-content: space-between;
  place-self: flex-start;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.56);
  min-height: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;

  .price {
    font-size: 16px;
    display: flex;
    justify-content: space-between;

    .unit {
      padding: 5px;
      font-weight: 200;
      color: #7f7f7f;
    }
  }
}


@media only screen and (max-width: 480px) {
  .content {
    font-size: 14px;

    .name {
      font-size: 14px;
    }
  }
}
