@import '../../styles/variables.module';

.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 250px));
  gap: 20px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 40px 0 0;
  @include paddingStandard;

  .headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .media {
    overflow-x: scroll;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
  }

  .imgBox {
    min-width: 220px;
    width: 220px;
    height: 220px;
    position: relative;
  }

  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
  }
}


.preview {
  font-family: museo-sans, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
  background: $white-20;

  .videoContainer {
    .video {
      height: 100%;
      width: 100%;
    }
  }

  .phone {
    font-weight: 500;
    color: $red;
  }

  .text {
    max-width: 50%;
    text-align: left;
    padding: 20px 0;
    @include paddingStandard;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h4 {
      text-transform: unset
    }
  }
}

.button {
  color: $white-10 !important;
  border-color: $white-10 !important;
  margin: 20px 0 0 !important;
  background: #1f1f1f !important;

  &:hover {
    background: $gray-400 !important;
  }
}

.divider {
  margin: 10px 0;
}

.carousel {
  max-width: 500px;

  .axis-vertical {
    margin: 0 !important;
  }

  ul {
    padding-inline-start: 0
  }

  img {
    max-height: 500px;
  }
}

.header {
  background: rgb(246, 246, 246);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 80px;
  font-weight: 500;
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}


.aboutContainer {
  margin-top: 20px;
  @include paddingStandard;
  line-height: 24px;

  .divider {
    display: block;
    height: 2px;
    width: 50px;
    background: $red;
    margin-bottom: 20px;
  }

  .aboutBock {
    display: grid;
    grid-template-columns: minmax(300px, 500px) minmax(300px, 1fr);
    grid-column-gap: 60px;
    margin-top: 20px;

    .image {
      position: relative;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        min-width: 90px;
        min-height: 90px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0;
      }
    }


    .textAbout {
      padding: 20px 0;
    }


    .iconsblock {
      padding: 40px 0 0 40px;
      display: flex;

      h5 {
        font-weight: 500;
        height: 50px;
        margin: 20px 0;
        font-size: 22px;
      }


      & > * {
        max-width: 300px;
      }

      & > * + * {
        max-width: 300px;
        margin-left: 60px;
      }
    }

    .iconAbout {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .preview {
    flex-direction: column-reverse;

    .text {
      max-width: unset;
    }

    .videoContainer {
      max-width: 100%;
    }
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(40px, 170px));
    gap: 10px;
    margin-bottom: 20px;
  }

  .container {
    margin-top: 20px;

    .imgBox {
      min-width: 180px;
      width: 180px;
      height: 180px;
      position: relative;
    }

    .media {
      gap: 5px;
      overflow-x: scroll;
    }
  }

  .aboutContainer {

    .aboutBock {
      display: flex;
      flex-direction: column;

      .iconsblock {
        padding: 20px 0 0;

        & > * {
          flex: 1;
        }

        & > * + * {
          margin-left: 16px;
        }

        h5 {
          height: 70px;
        }
      }
    }
  }
}
