@import '../../../../styles/variables.module';

.filter {
  width: 25vw;
  margin-right: 50px;

  .title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    align-items: center;
  }

  .clear {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: $gray-100;
    cursor: pointer;
  }

  .heading {
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .active {
      width: 6px;
      height: 6px;
      background: $secondary;
      border-radius: 100%;
      display: block;
      margin: 0 10px;
    }
  }

  .details {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;

    .checkboxControl {
      font-size: 16px;
    }
  }
}

.accordionItem {
  border: 0;
  margin: 0 !important;
  box-shadow: none;

  &:before {
    display: none !important;
  }
}

.summary {
  padding: 0px !important;
  border-bottom: 1px solid $gray-20;
  min-height: 48px !important;

  & > * {
    min-height: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.price {
  display: flex;
  align-items: center;
}

.rangeSeparator {
  flex-shrink: 0;
  margin: 0 0.4rem;
  background-color: #b5b5b9;
  width: 10px;
  height: 1.2px;
}

@media only screen and (max-width: 520px) {
  .filter {
    flex-direction: column;
    width: unset;
    margin-right: 0;

    .title {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
