@import '../../styles/variables.module';

.content {
  @include paddingStandard;

  display: flex;
  flex-direction: column;
}

.header {
  background: rgb(246, 246, 246);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 80px;
  font-weight: 500;
  margin-bottom: 20px;
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}

@media only screen and (max-width: 480px) {
  .header, .content {
    padding: 0 10px;
  }
}
