@import '../../styles/variables.module';

.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: $gray-100;
  cursor: pointer;
  margin: 10px 0;
  flex-wrap: wrap;
  @include paddingStandard;

  .icon {
    font-size: 10px;
    margin: 0 5px;
  }

  .last {
    cursor: default;
    color: $gray-400;
  }
}

.homeIcon {
  font-size: 20px !important;
}
