@import '../../../styles/variables.module';


.name {
  margin: 20px 0;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  gap: 2px;

  .brand, .collection {
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    color: $gray-100
  }

}

.charsBlock {
  margin: 20px 0 10px 0;
  display: flex;
  flex-direction: row;
  @include paddingStandard;
  justify-content: space-between;

  & > * {
    padding: 0 10px;
  }

  .charIcon {
    color: $green-100;
  }
}

.sale {
  top: 10px;
  bottom: unset;
}

.btnBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.salePrice {
  color: $gray-100;
  font-weight: 400;
  font-size: 20px;
  margin-left: 12px;

  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: $gray-100;
  -webkit-text-decoration-color: $gray-100;
  text-decoration-thickness: 1px;
}

.door {
  background: url(../../../public/wall.jpg) no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 !important;
}

.content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  @include paddingStandard;


  .slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .carousel {
    .axis-vertical {
      margin: 0 !important;
    }

    ul {
      padding-inline-start: 0
    }

    img {
      max-height: 500px;
      //width: initial !important;
    }
  }


  .additional {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;

    & > * {
      background: #f3f3f5;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

.desc {
  @include paddingStandard;
  text-align: justify;
  margin-top: 10px;
  font-size: 16px;
}

.priceBox {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  font-weight: 400;
}

.titleCharacteristic {
  margin-top: 20px;
  @include paddingStandard;
  background: $gray-100-10;
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $red;
}

.characteristic {
  @include paddingStandard;

  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.chars {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 50px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 5px -5px;

  &::after {
    content: "";
    margin-top: -5px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #a5a9af;
    z-index: 0;
  }

  & > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;

    span {
      padding: 0 5px;
      z-index: 1;
      background: white;
    }
  }
}

.iconChip {
  font-size: 20px !important;
  color: $black;
}

.materials {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;

  .items {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    margin-top: 10px;
    line-height: 18px;

    & > * {
      font-size: 14px;

      .materialImg {
        margin-bottom: 8px;
        width: inherit;

        img {
          width: 100%;
          height: 100%;
        }
      }

    }
  }
}

.thumbs img {
  width: auto !important;
  height: 75px;
}

.calculation {
  background: $secondary !important;
  border: 1px solid $secondary !important;
  color: $white;
}

.call {
  border-color: black;
  border-radius: 0;
  margin-top: 20px;
}
