@import '../../styles/variables.module';

.level {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: $gray-100;
  cursor: pointer;
  flex-wrap: wrap;

  .icon {
    font-size: 10px;
    margin: 0 5px;
  }

  .last {
    color: $gray-400;

    &:hover {
      cursor: default;
    }
  }
}

.homeIcon {
  font-size: 20px !important;
}
