@import '../../styles/variables.module';

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselHeight {
  height: 500px;
  flex: 1;
}

.upButton {
  cursor: pointer;
  border-radius: 50%;
  background: rgba(50, 49, 49, 0.76) !important;

  &:hover {
    background: #1f1f1f !important;
  }

  .icon {
    color: #f9f9fd;
    font-size: 20px;
  }
}

.itemCarousel{
  height: 500px;

  img{
    margin: 0 auto;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    //width: 100%;
    display: block;
  }
}
