@import '../../styles/variables.module';


.carouselHeight {
  max-height: 600px;
}

.thumbs {
  margin-top: 20px;
}

.upButton {
  cursor: pointer;
  border-radius: 50%;
  background: rgba(50, 49, 49, 0.76) !important;

  &:hover {
    background: #1f1f1f !important;
  }

  .icon {
    color: #f9f9fd;
    font-size: 20px;
  }
}

.itemCarousel {
  max-height: 600px;
  position: relative;

  & > * {
    position: initial !important;
  }
}

.thumbCarousel {
  cursor: pointer;
  width: auto !important;
}

@media only screen and (max-width: 930px) {
  .thumbs {
    margin-top: 10px;
  }
}
