@import '../../../styles/variables.module';


.cards {
  margin-top: 20px;
  @include paddingStandard;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  gap: 30px;
  margin-bottom: 40px;
  justify-content: center;
}

.filter {
  @include paddingStandard;

  .activeIcon {
    color: $black !important;
  }

  .icon {
    color: $gray-200;
  }
}

.desc {
  display: flex;
  margin: 20px 0;
  gap: 30px;
  @include paddingStandard;
  font-weight: 300;

  .logo {
    width: 150px;
    height: 150px;
  }

  p {
    margin: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.date {
  color: $gray-200;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
  margin-bottom: 5px;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
}

.actions {
  padding: 0 10px 4px 10px !important;
}

.content {
  margin-top: 10px;
}

.articleContent {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;

  &::before {
    content: "";
    display: block;
    margin-bottom: 8px;
    height: 2px;
    width: 40px;
    background: #c41414;
  }
}

.divider {
  margin: 10px 0;
}

.media {
  height: 200px;
  border: 0;
}


@media only screen and (max-width: 480px) {
  .desc {
    gap: 14px;
    font-size: 12px;
    margin: 10px 0 0;

    .logo {
      max-width: 70px;
      max-height: 70px;
    }
  }

  .filter{
    padding: 0;
  }

  .cards {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, minmax(50px, 500px));
    gap: 1px;
  }

  .iframe {
    width: 100%;
    height: auto;
  }
}
