@import '../../../../styles/variables.module';

.content {
  @include paddingStandard;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 20px;
}

.horizontalContainer {
  max-width: 850px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: min-content;
}

.verticalContainer {
  max-width: 850px;
  height: auto;
  display: flex;
  box-sizing: border-box;
  //height: min-content;
}

.article {
  display: flex;
  flex-direction: column;
}

.sidebar {
  margin-right: 90px;
}

.cards {
  max-width: 300px;
  display: grid;
  grid-template-columns:  minmax(250px, 1fr);
  margin: 20px 0;
  grid-row-gap: 20px;
}

.date {
  margin-top: 8px;
  color: $gray-200;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.categoryLabel {
  font-weight: 400;
  letter-spacing: 0.85pt;
  margin-right: 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  background: $red;
  padding: 2px 4px;
}

.mediaV {
  border-width: 0;
  max-height: 500px;
  aspect-ratio: 720 / 1279;
  flex-basis: 374.918px;
}

.container {
  width: 400px;

  .slide {
    width: 400px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.mediaI {
  height: 400px;
  max-height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    position: initial !important;
  }
}

.articleContent {
  margin-top: 10px;
  font-size: 16px;

  span {
    margin: 6px 0;
    display: block;
  }
}

.count {
  font-size: 14px;
  font-weight: 500;
}

.logo {
  margin-top: 10px;
  min-width: 45px;
  min-height: 40px;
}

.contentText {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.divider {
  display: block;
  width: 100%;
  background: $gray-30;
  height: 1px;
}

.header {
  background: rgb(246, 246, 246);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  @include paddingStandard;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}


.horizontalContainerPlayer {
  min-width: 390px;
  width: 100%;
  max-height: unset;
  height: inherit;
  position: relative;
}

.verticalContainerPlayer {
  min-width: 290px;
  max-height: 50vh;
  position: relative;
}

.verticalPlayer {
  max-height: inherit;
  position: absolute;

  top: 0;
  left: 0;
  height: auto !important;
  width: 100% !important;

  iframe {
    width: 100%;
    min-height: 520px;
  }
}

.horizontalPlayer {
  width: auto !important;
  height: 100% !important;
  position: unset;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 400px;

  iframe {
    height: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 930px) {

  .verticalPlayer {
    position: unset;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto !important;
    min-height: 400px;
  }

  .verticalContainerPlayer {
    max-height: unset;
    height: inherit;
  }

  .verticalContainerPlayer::after {
    content: "";
    display: block;
    // padding-bottom: 100%;
  }


  .horizontalContainer, .verticalContainer {
    gap: 0;
    flex-direction: column;
  }

  .title {
    font-size: 16px !important;
    margin-top: 10px !important;
  }

  .articleContent {
    margin: 0;
  }

  .logo {
    display: none !important;
    min-width: 25px;
    min-height: 20px;
    max-width: 30px;
  }
  .content {
    display: flex;
    flex-flow: wrap-reverse;
    padding: 0;
    margin: 0 0 10px;
  }

  .cards {
    width: 100%;
    margin-right: 0;
    max-width: unset;
  }

  .header, .content {
    .article {
      .imgBlock {
        grid-column-start: unset;
      }
    }

    .sidebar {
      width: 100%;
      margin-top: 40px;
      @include paddingStandard;
      margin-right: 0;
    }
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .iframe {
    width: 100%;
    height: auto;
  }

  .date {
    font-size: 12px;
    text-transform: unset;
  }

  .container {
    width: 100vw;

    .slide {
      width: 100vw;
    }
  }
}
