@import '../../../../styles/variables.module';

.content {
  @include paddingStandard;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.article {
  display: flex;
  flex-direction: column;
}

.sidebar {
  margin-right: 50px;
}

.cards {
  max-width: 300px;
  display: grid;
  grid-template-columns:  minmax(250px, 1fr);
  margin: 20px 0;
  grid-row-gap: 20px;

  & > * {
    height: 200px;
  }
}

.date {
  color: $gray-200;
  font-size: 12px;
  letter-spacing: 0.85pt;
  display: flex;
  align-items: center;
}

.categoryLabel {
  font-weight: 400;
  letter-spacing: 0.85pt;
  margin-right: 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  background: $red;
  padding: 2px 4px;
}

.media {
  height: 400px;
}

.articleContent {
  span {
    margin: 6px 0;
    display: block;
  }
}

.header {
  background: rgb(246, 246, 246);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  @include paddingStandard;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}

@media only screen and (max-width: 930px) {
  .content {
    display: flex;
    flex-flow: wrap-reverse;
  }

  .cards {
    margin-right: 0;
  }

  .header, .content {
    .article {
      .imgBlock {
        grid-column-start: unset;
      }
    }

    .sidebar {
      margin-top: 20px;
    }
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .iframe {
    width: 100%;
    height: auto;
  }
}
