@import '../../styles/variables.module';

.title {
  padding: 15px 0;
  width: 100%;
}

//.title {
//  &:after {
//    content: "";
//    display: block;
//    margin-top: 8px;
//    height: 2px;
//    width: 40px;
//    background: $secondary;
//  }
//}

.iconLast {
  font-size: 18px !important;
  margin-right: 20px;
  color: $black;
}

.header {
  //background: rgb(246, 246, 246);
  font-weight: 400;
  @include paddingStandard;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 930px) {
  .title {
    padding: 10px 0;
    font-size: 18px !important;
  }
}
