@import '../../styles/variables.module';

.aComonent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  box-shadow: 0 6px 16px rgb(0 0 0 / 7%);
}

.root {
  height: 100%;

  .area {
    display: flex !important;
    justify-content: flex-start;
    align-items: stretch;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
  }

  width: 100%;
}

.media {
  overflow: hidden;
  position: relative;

  .img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 0 90%;
    height: 100%;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  .isDoor {
    object-position: 50% 90% !important;
    object-fit: contain !important;
  }
}

.labels {
  z-index: 20;
  left: -4px;
  top: 4px;
  position: absolute;
  display: block;

  & > * + * {
    margin-top: 10px;
  }
}

@mixin label {
  display: flex;
  padding: 0 8px;
  height: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $secondary;
  letter-spacing: 1.2px;
}

.isPopular {
  @include label;
}

.isBestPrice{
  @include label;
  background-color: #27cb0c;

  &:after {
    border-left: 6px solid #27cb0c;
    border-top: 10px solid #27cb0c;
  }
}

.isNew {
  @include label;
  background-color: #bcebf1;

  &:after {
    border-left: 6px solid #bcebf1;
    border-top: 10px solid #bcebf1;
  }
}

.colors {
  margin-top: 10px;
  font-size: 14px;
  color: $gray-200;
}

.categoryName {
  margin-bottom: 10px;
  font-size: 12px;
  color: $gray-200;
}

.bestPrice {
  color: $main-green;
  font-size: 20px !important;
}

.actions {
  position: absolute;
  display: flex;
  bottom: 0;
  top: auto;
  right: 0;
  background: rgba(255, 255, 255, 0.64);
  padding-left: 8px;
}

.content {
  flex-grow: 1;
  padding: 14px;
  justify-content: space-between;
  place-self: flex-start;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.56);
  min-height: 30px;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;

  .brand {
    font-size: 12px;
    color: $gray-200;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .name {
    color: $gray-500;
  }

  .price {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    color: $gray-500;
    justify-content: space-between;

    .unit {
      padding: 5px;
      font-size: 14px;
      font-weight: 200;
      color: #7f7f7f;
    }
  }
}

.call {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {

  .content {
    font-size: 14px;
    padding: 10px 8px !important;

    .collection, .name {
      font-size: 14px;
    }
  }
  .actions {
    padding: 4px !important;
  }
}
