@import '../../styles/variables.module';

.aComonent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.root {
  border-radius: 0 !important;
  height: 100%;

  .area {
    display: flex !important;
    justify-content: flex-start;
    align-items: stretch;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
  }

  width: 100%;
}

.media {
  height: 180px;
  overflow: hidden;
  position: relative;

  .img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 0 90%;
    height: 100%;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  .isDoor {
    object-position: 50% 90% !important;
    object-fit: contain !important;
  }
}

.isPopular{
  width: 220px;
  font-size: 12px;
  background: $red;
  position: absolute;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  top:30px;
  right: -70px;
  left: auto;
  transform: rotate(45deg);
}
.colors{
  margin-top: 10px;
  font-size: 14px;
  color: $gray-200;
}

.categoryName{
  margin-bottom: 10px;
  color: black;
}

.bestPrice{
  color: $main-green;
  font-size:20px !important;
}

.actions {
  position: absolute;
  display: flex;
  bottom: 0;
  top: auto;
  right: 0;
  background: rgba(255, 255, 255, 0.64);
  padding-left: 8px;
}

.content {
  flex-grow: 1;
  padding: 14px ;
  justify-content: space-between;
  place-self: flex-start;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.56);
  min-height: 30px;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;

  .brand {
    font-size: 12px;
    color: $gray-40;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .name {
    color: $gray-400;
    font-weight: 400;
  }

  .price {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    color: $gray-500;
    justify-content: space-between;

    .unit {
      padding: 5px;
      font-size: 14px;
      font-weight: 200;
      color: #7f7f7f;
    }
  }
}

.call {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {

  .content {
    font-size: 14px;

    .collection, .name {
      font-size: 14px;
    }
  }
  .actions {
    padding: 4px !important;
  }
}
