@import '../../styles/variables.module';

@mixin label {
  z-index: 5;
  position: absolute;
  padding: 2px 6px;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;

  @media only screen and (max-width: 480px) {
      padding: 2px 8px;
      font-size: 12px;
  }
}

.sale {
  @include label;

  bottom: 10px;
  left: 10px;
  background: $red;
}

.bestPrice {
  color: $main-green;
  font-size: 20px !important;
}


.popular {
  display: flex;
  align-items: center;
  color: $gray-100;
  font-weight: 400;
  font-size: 14px;

  .starIcon {
    font-size: 16px;
    margin-right: 2px;
    color: $red;
  }
}

.isBestPrice {
  @include label;
  border-radius: 10px;

  color: $black;
  top: 10px;
  left: 10px;
  background-color: $main-yellow;
}

.isNew {
  @include label;
  background-color: #bcebf1;

  &:after {
    border-left: 6px solid #bcebf1;
    border-top: 10px solid #bcebf1;
  }
}

@media only screen and (max-width: 480px) {

  .isBestPrice {
    top: 6px;
    left: 6px;
  }

  .sale {
    bottom: 10px;
    left: 6px;
  }
}
