@import '../../../styles/variables.module';

.wrapper {
  height: 70vh;
  background: url(../../../public/wapper.jpg) no-repeat left bottom fixed;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 300px;

  .shadow {
    display: block;
    width: 100%;
    height: 0px;
    box-shadow: 0 0px 80px 50px rgba(25, 25, 26, 0.76);
    position: absolute;
  }

  .overlay {
    background: rgba(47, 47, 47, 0.6);
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: inherit;
    justify-content: flex-end;
    padding: 0 10vw;
  }
}

.txtblocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Montserrat;
  max-width: 70vw;
  margin: 60px 0;
  text-align: left;

  .name {
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 4px 0;
  }

  .slogan {
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-transform: lowercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .subs {
    font-weight: 300;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: $gray-10;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      text-transform: uppercase;
      color: $white-10;
    }

    .icon {
      font-size: 20px;
      margin-right: 5px;
      color: $white-10;
    }
  }

}

.buttons {
  display: flex;
  margin-top: 50px;
}

.buttonOutlined {
  color: white;
  border-color: white !important;
  text-transform: uppercase !important;
  margin-right: 20px;
  min-width: 200px;

  & > * {
    color: white;
  }
}

.buttonContained {
  color: white;
  background: black;
  text-transform: uppercase !important;
  min-width: 200px;

  & > * {
    color: white;
  }
}

.footer {
  @include paddingStandard;
  background: $gray-20;
  display: grid;
  grid-template-columns:  minmax(auto, 25vw) auto;


  .imgBlock {
    display: flex;
  }

  & > * + * {
    margin-left: 40px;
  }

  .text {
    padding: 20px 0;
  }

  img {
    width: 100%;
    // border-radius: 100%;
  }
}

//phones

@media only screen and (max-width: 480px) {
  .txtblocks {
    max-width: initial;
    margin: 60px 0 20px;

    .name {
      font-size: 1.6em;
    }

    .slogan {
      font-size: 1.2em;
    }
    .subs {
      font-size: 1.2em;
    }
  }
  .buttons {
    flex-direction: column;
    margin-top: 20px;

    & > * {
      margin: 10px 0;
    }
  }
  .blog {
    .blockArticles {
      display: flex;
      flex-direction: column;
    }
  }
  .wrapper {
    height: 50vh;
    //айфоны
    background-attachment: scroll;

    .mediaBlock {
      .text {
        letter-spacing: 1px;
        font-size: 24px;

        .slogan {
          letter-spacing: 0.8px;
          font-size: 16px;
        }
      }
    }
  }
}
