@import '../../styles/variables.module';

.carouselItem {
  margin: 20px 0;
}

.title {
  @include paddingStandard;
}

.cardContainer {
  padding: 0 20px;
  height: 100%;
}

.card {
  height: 100%;
}

@media only screen and (max-width: 780px) {
  .cardContainer {
    padding: 0 10px;
  }
}
