@import '../../styles/variables.module';

.container {
  padding-bottom: 40px;
  //border-top: 1px solid $gray-50;
  @include paddingStandard;
}

.favIcon {
  font-size: 20px !important;
  color: $red;
}

.carouselItem {
  padding: 10px 10px;
}

.carouselContainer {
  @include paddingStandard;
}

.cards {
  margin-left: -10px;
}

@media only screen and (max-width: 780px) {
  .cardContainer {
    padding: 0 10px;
  }
}
