@import '../../styles/variables.module';

.details {
  margin-top: 40px;
}


.card {
  @include paddingStandard;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 40px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-row-gap: 15px;
  grid-column-gap: 20px;
}

.hierarchy {
  @include paddingStandard;
}

.icon {
  font-size: 20px !important;
  color: $secondary;
}

.summary {
  margin-top: 20px;
}

.top {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: minmax(300px, 0.8fr) minmax(400px, 1fr);

  .text {

    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {

}
