@import '../../styles/variables.module';

.footer {
  color: $gray-40;
  background: #464646;
  text-align: center;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  font-size: 14px;
  align-items: flex-start;

  .content {
    padding-top: 40px;
    @include paddingStandard;
    border-top: 0.5px solid #727272;
    flex-direction: row;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footerAbout {
  margin-top: 40px;
  @include paddingStandard;
  background: $gray-20;

  .text {
    padding: 20px 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: 0 90%;
  }
}

.links {
  font-size: 14px;
  display: flex;
  text-align: left;

  & > * + * {
    margin-left: 80px;
  }

  & > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .categoryName {
      margin-bottom: 30px;
      font-weight: 400;
    }

    & > * {
      color: $gray-10;
      margin-bottom: 5px;
      line-height: 24px;

      &:hover {
        cursor: pointer;
        color: $gray-100-40;
      }
    }
  }
}


.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .phone {
    color: white !important;
    margin-bottom: 20px;
    font-size: 24px;
  }

  p {
    margin: 0;
    text-align: left;
    max-width: 250px;
  }
}


.button {
  color: $white-10 !important;
  border-color: $white-10 !important;
  margin: 20px 0 20px !important;

  &:hover {
    background: $gray-400 !important;
  }
}

.messangers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min-content;

  & > * + * {
    margin-left: 20px;
  }

  .icon {
    font-size: 25px;
  }

  .messenger {
    cursor: pointer;
  }
}

.copy {
  font-size: 12px;
  color: $gray-40;
  line-height: 20px;
  align-items: flex-end;
  text-align: left;
  letter-spacing: 0.5pt;
  @include paddingStandard;
  margin: 40px 0;
}

.logoBlock {
  padding: 40px 0;
  @include paddingStandard;
  display: flex;
  margin-right: 20px;
  letter-spacing: 1.5px;
  place-self: flex-start;
  color: white;

  .logo {
    position: relative;
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }

  .nameLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    font-weight: 200;

    .name {
      font-size: 24px;
      font-weight: 400;
    }

    & > * {
      text-align: left;
    }
  }
}

.policy {
  margin: 20px 0;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  @include paddingStandard;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media only screen and (max-width: 1020px) {

  .logoBlock {
    margin-right: 0;
  }

  .policy {
    margin: 20px 0;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    text-align: center;

    & > * {
      margin: 0;
      align-items: center;
    }
  }

  .copy {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .contactsContainer {
    min-width: initial;
    width: inherit;
  }

  .footer {
    .content {
      flex-direction: column;
      align-items: center;

      & > * {
        margin-bottom: 40px;
      }

      .menu {
        flex-flow: wrap;
        justify-content: center;
      }

      .info {
        height: min-content;

        .address {
          margin: 20px 0;
          font-size: 12px;

          .iconContact {
            font-size: 14px;
          }
        }

        & > * + * {
          margin: 10px 0;
        }
      }
    }
  }
}
