@import '../../styles/variables.module';

.header {
  font-size: 24px;
  display: flex;
  flex-direction: row;

  .preview {
    padding: 20px 0 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .text {
      margin-right: 50px;
      font-weight: 300;
      font-size: 16px;

      .chars {
        font-weight: 300;
        display: flex;
        flex-direction: column;
        font-size: 16px;

        .icon {
          margin-right: 5px;
          color: #c41414;
          font-size: 20px;
        }

        & > * {
          margin-top: 5px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}


.content {
  font-size: 16px;
  color: #34373d;
  font-weight: 300;
  padding: 20px 80px 40px 0;
  display: flex;
  flex-direction: row;

  .mediaBlock {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    margin-left: 50px;

    h2::after {
      content: "";
      display: block;
      margin-top: 8px;
      height: 2px;
      width: 40px;
      background: #c41414;
    }
  }
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}

@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;

    .title {
      padding: 20px 10px;
      font-size: 14px;

      .preview {
        .text {
          margin-right: 0;
          font-size: 14px;
        }
      }
    }

    .video {
      width: auto;
      padding: 5px 25px;
    }
  }

  .content {
    padding: 0;
    flex-direction: column;

    .text {
      margin: 5px 10px;
    }
  }
}
