@import './variables.module';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Roboto:wght@300;400;500&display=swap');

a {
  text-decoration: none !important;
  color: inherit !important;

  &:visited {
    color: inherit !important;
  }
}

li, p {
  line-height: 1.5;
}

h2 {
  margin: 8px 0;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 1.8em;
}

h1 {
  font-size: 2.8em;
  font-weight: 500;
}

h4 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #34373d;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray-100;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f9f9fd;
}
