@import './variables.module';

a {
  text-decoration: none !important;
  color: inherit !important;

  &:visited {
    color: inherit !important;
  }

  &:hover {
    color: $secondary !important;
    cursor: pointer;
  }
}

ul {
  margin-left: 0;
  padding-left: 20px;
}

li, p {
  line-height: 1.5;
  margin: 5px 0;
}

h2 {
  margin: 8px 0;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 1.4em;
}

h1 {
  font-size: 2.8em;
  font-weight: 500;
}

h4 {
  text-transform: uppercase;
  margin: 5px 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #34373d;
  font-weight: 400;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray-100;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f9f9fd;
}

