@import '../../styles/variables.module';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
  min-height: 252px;

  &:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  img {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;

    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
  }

  img:hover .but {
    border: 1px solid white;
  }

  .name {
    color: $white;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    text-align: center;

    .but {
      border: 0 solid white;
      border-bottom: 1px solid white;
      color: white;
      font-size: 16px;
      text-transform: uppercase;

      -webkit-transition: border-color 1s ease;
      -moz-transition: border-color 1s ease;
      -o-transition: border-color 1s ease;
      -ms-transition: border-color 1s ease;
      transition: border-color 1s ease;

      &:hover {
        color: inherit;
        background: none;
        border: 1px solid white !important;
      }
    }
  }
}
