@import '../../../styles/variables.module';

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: $secondary;
}

.content {
  display: flex;
  flex-direction: row;

  & > * + * {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    margin: 5px 0 20px 0;
    flex-direction: column;
  }
  .header {
    padding: 10px;
  }
}
