@import '../../styles/variables.module';


.divider {
  margin: 40px 0;
  height: 1px;
  display: block;
  background: $gray-50;
}

.content {
  @include paddingStandard;

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  min-height: 300px;
  grid-column-gap: 20px;
}

.phone {
  margin-top: 10px;
  color: $secondary;
  font-size: 22px;
  font-weight: 400;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .messenger {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: $home-black;
  }

  .icon {
    font-size: 24px;
    color: inherit;
    margin-right: 8px;
  }
}

.name {
  text-transform: uppercase;
  color: $home-black;
}

.titleField {
  text-transform: uppercase;
  color: $gray-100;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  .padding {
    @include paddingStandard;
  }
  .content {
    padding: 0;
  }

  .card {
    grid-template-columns: 1fr;

    .image {
      grid-row-start: 2;
      min-height: 500px;
      height: 100%;
    }

    .cardBody {
      @include paddingStandard;
    }
  }
}
