.menu {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  width: 80vw;
  height: 100%;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.4em;
  }

  & > * > * {
    font-size: 1.4em;
    padding: 8px 10px;

    &:hover {
      color: #e2e2e2;
      cursor: pointer;
    }
  }
}

.burgerContainer {
  height: inherit;
  display: none;
  align-items: center;
}

.isActive {
  font-weight: 500;
  color: #c41414;
}

.divider {
  padding: 0;
  margin: 5px 0;
  box-shadow: 0 5px 20px rgba(191, 191, 191, 0.56);
}

.footer {
  color: #3b3939;

  & > * {
    display: flex;
    align-items: center;
  }

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .infoText {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    font-size: 16px;

    &:visited {
      // TODO: почему некоторые цвета берутся не из стилей?
      // да хз
      color: #3b3939;
    }
  }
}

.burgerIcon {
  color: inherit !important;
}

.search {
  border: 0.5px solid #d0cfcf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px;
  height: 20px;
  align-items: center;

  & > * {
    font-size: 18px;
  }

  input {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  .burgerContainer {
    display: flex;
  }
}
