@import '../../styles/variables.module';

.iconSearch {
  font-size: 20px !important;
  color: white;
}

.search {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.isHide {
  display: none !important;
}

.input {
  @include paddingStandard;
  right: 0;
  left: 0;
  background: $home-black;
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;

  input[class*="MuiInputBase-input"],
  input[class*="MuiInputBase-input"]::placeholder {
    color: $white-10;
  }
}
