@import '../../styles/variables.module';

.textField {
  background: red;
  font-size: 20px;

  .MuiInputBase-input {
    padding: 11px;
  }
}

.headerSearch {
  display: none;
  border-radius: 2px;
  border: 1px solid $gray-100-40;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 10px;
  height: 36px;
  align-items: center;

  .iconSearch {
    color: $gray-30;
  }

  display: none;
}

.container {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.header {
  background: white;
  width: 100%;
  //position: fixed;
  z-index: 2;
  top: 0;

  .headerBackground {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity .3s;
    opacity: 1;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: saturate(180%) blur(20px)
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    height: 60px;
    @include paddingStandard;

    .logoBlock {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .logo {
        margin: 5px 0;
        transition: transform .2s, -webkit-transform .2s;
        display: flex;
        align-items: center;
        width: 35px;
        height: 35px;

        img {
          width: inherit;
          height: inherit;
        }

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .name {
      font-size: 24px;
      font-weight: 400;
      margin-left: 10px;
      text-transform: uppercase;
    }

    .left {
      display: flex;
      align-items: center;

      .phone {
        padding: 2px 0;
        line-height: 24px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.callme {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-weight: 400;
  color: $secondary;
}

.menuContainer {
  @include paddingStandard;
  display: flex;
  color: $white-20;
  background-color: $home-black;
  line-height: 24px;
  font-size: 14px;
  height: min-content;
  letter-spacing: .5px;
  font-weight: 400;
}

.grayMenu {
  color: $gray-30;

  a {
    display: flex;

    & > *:hover {
      color: inherit;
    }
  }

  &::before {
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    height: 30px;
    width: 1px;
    margin-left: 30px;
  }

}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  height: auto;

  .isActive {
    border-bottom: 2px solid $secondary
  }

  li {
    padding: 12px 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: min-content;
  }

  .headerSearch {
    display: flex;
    height: 32px;
    width: 22vw;
    margin-left: 30px;
  }
}

.phoneBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.icon {
  font-size: 20px !important;
  color: $gray-100-40;
}

.address {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: unset;
  color: inherit;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 30px;

  svg {
    transition: unset;
  }

  .icon {
    font-size: 16px !important;
    margin-right: 4px;
    color: $gray-300;
  }
}


@media only screen and (max-width: 930px) {

  .container {
    top: -27px !important;
  }

  .header {
    position: unset;

    .name {
      font-size: 26px;
    }

    .left, .address, .messenger {
      display: none !important;
    }

    .headerContent {
      height: 50px;

      .logoBlock {
        width: auto;

        .logo {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .menuContainer {
    display: none;
  }
}
